body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(63, 222, 243);
    font-family: sans-serif;
 
    
}
.container{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-content: center;
    gap: 30px;
}
   
.register-form   {
     width: auto;
      
    }
      
    .first-page{
       display: flex;
       flex-direction: column;
        background-color: aqua;
        margin: auto;
        border: 2px red solid;
        width: fit-content;
        height: max-content;
        
    }

h1{
text-align: center;
}
.register-form{
    display: flex;
    flex-direction: column ;
    align-content: center;
    align-items: center;
}
input {
    width: 340px;
    height: 30px;
    margin: 0px;
    outline: 0;
    border: 0;
    border-radius: 2px;
    
}
 
 
small{
    padding-right: 300px;
    text-align: start;
}
button{
    width: 100px;
    height: 30px;
    border: none;
    outline: 0;
    border-radius: 5px;
}

 
 button:disabled{
    cursor: not-allowed;
    opacity: 1;
 }
 
 
 a{
    padding-top: 5px;
 }
 form{
    height: 100vh;
 }
 #function {
    height: 100vh;
    margin-left: 30%;
 }
 .form2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
 }
 .function-2{
    height: 100vh;
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px

 }
 h1{
    background-color: ;
 }