body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(63, 222, 243);
    font-family: sans-serif;
   
    
}
.container{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-content: center;
    gap: 30px;
   
     
      
}
h1{
text-align: center;
}
.register-form{
    display: flex;
    flex-direction: column ;
    align-content: center;
    align-items: center;
}
input {
    width: 340px;
    height: 30px;
    margin: 0px;
    outline: 0;
    border: 0;
    border-radius: 2px;
}

 
small{
    padding-right: 300px;
    text-align: start;
}
button{
    width: 100px;
    height: 30px;
}

 
 